<header>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content mask">
    <li><%= link_to "My Profile", edit_user_registration_path %></li>
    <li><%= link_to "My Projects", myprojects_path %></li>
    <li class="divider"></li>
    <!-- <li><a href="#!">Log out</a></li> -->
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown2" class="dropdown-content mask">
    <li><%= link_to "My Profile", edit_user_registration_path %></li>
    <li><%= link_to "My Projects", myprojects_path %></li>
    <li class="divider"></li>
    <!-- <li><a href="#!">Log out</a></li> -->
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>

  <nav class="light-blue darken-1 z-depth-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">I Dev TV</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Projects", root_path %></li>
          <% if (!user_signed_in?) %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown1">
              <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small" %>&nbsp;
              <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Courses</a></li>
    <% if (!user_signed_in?) %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% else %>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown2">
        <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small" %>&nbsp;
        <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a>
      </li>
    <% end %>
  </ul>
</header>
